In [1]:
import pandas as pd
import os
path='D:\CSV_Dataset(Practice)\Customer_churn'
os.chdir(path)

In [2]:
df=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
print("unique value : \n", df.nunique())

unique value :
 customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

In [9]:
df['gender'].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

In [11]:
df_table = pd.crosstab(df['gender'],df['PaperlessBilling'])
print(df_table)

PaperlessBilling    No   Yes
gender
Female            1402  2086
Male              1470  2085

In [15]:
observed_values=df_table.values

In [12]:
import scipy.stats as stats

In [16]:
var = stats.chi2_contingency(df_table)

In [17]:
var

(0.9257356216945363,
 0.3359734782280932,
 1,
 array([[1422.33934403, 2065.66065597],
        [1449.66065597, 2105.33934403]]))

In [18]:
expected_values=var[3]

In [19]:
expected_values

array([[1422.33934403, 2065.66065597],
       [1449.66065597, 2105.33934403]])

In [20]:
row=len(df_table.iloc[0,0:2])
col=len(df_table.iloc[0,0:2])
dof=(row-1)*(col-1)
print('deg_of_freedom -:',dof)
alpha=0.5

deg_of_freedom -: 1

In [24]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(observed_values,expected_values)])
chi_square_statistics=chi_square[0]+chi_square[1]

In [25]:
print('chi_square_statistics-:',chi_square_statistics)

chi_square_statistics-: 0.9729852193317833

In [29]:
p_value=1-chi2.cdf(x=chi_square_statistics,df=dof)
print('P_value-:',p_value)
print('significance_level-:',alpha)
print('Degree of Freddom-:',dof)
print('p_value:-',p_value)

P_value-: 0.3239368006106813
significance_level-: 0.5
Degree of Freddom-: 1
p_value:- 0.3239368006106813

In [30]:
#if p_value<=alpha
# 0.30<=0.5 then there is significane association relation between two columns
#if p_value>=alpha
#then there is no relation bw columns

In [31]:
# Hypothesis Testing

In [32]:
df.groupby(df['gender']).mean()

        SeniorCitizen     tenure  MonthlyCharges
gender
Female       0.162844  32.244553       65.204243
Male         0.161463  32.495359       64.327482

In [48]:
df.groupby(df['Churn']).mean()

       SeniorCitizen     tenure  MonthlyCharges
Churn
No          0.128721  37.569965       61.265124
Yes         0.254682  17.979133       74.441332

In [35]:
Female=df[df.gender=='Female']
Male=df[df.gender=='Male']

In [36]:
from scipy.stats import ttest_ind

In [37]:
ttest_ind(Female.MonthlyCharges,Male.MonthlyCharges,equal_var=False)

Ttest_indResult(statistic=1.2226726068634024, pvalue=0.22149431343928863)

In [65]:
pval=ttest_ind(Female.tenure,Male.tenure,equal_var=False)

In [67]:
print('Pval',T_test)

Pval Ttest_indResult(statistic=-0.42850418794146206, pvalue=0.66829719463687)

In [70]:
if 0.668 < 0.05:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

we are accepting null hypothesis

In [57]:
No=df[df.Churn=='No']
Yes=df[df.Churn=='Yes']

In [58]:
ttest_ind(No.MonthlyCharges,Yes.MonthlyCharges,equal_var=False)

Ttest_indResult(statistic=-18.407526676414673, pvalue=8.592449331547539e-73)

In [53]:
df['tenure'].nunique()

73